/* src/components/TourGrid.module.css */

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 700px; /* фіксована ширина */
    padding: 25px;
    box-sizing: border-box;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

/* если карточка станет уже 250px -> делаем 1 колонку */
@media (max-width: 540px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.cell {
    min-width: 0;
}
